.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal_content {
  background-color: #181818;
  color: white;
  border-radius: 8px;
  padding: 24px;
  width: 600px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_close {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.modal_body {
  display: flex;
  gap: 20px;
}

.avatar_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar_preview {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}

.input_section {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input_section input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #2c2c2c;
  color: white;
}

.modal_footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.edit_button_profile,
.cancel_button,
.save_button  {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}
.modal_overlay .delete_button {
  background-color: #e53935; /* đỏ */
  color: white;
}

.modal_overlay .delete_button:hover {
  background-color: #c62828; /* đỏ đậm hơn khi hover */
}

.modal_overlay .delete_button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}