body.home-body{
  margin: 0;
  
}
.main-background {
  background-color: black;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 77vh;
  overflow: hidden;
}


.page-content{
  overflow: hidden;

}
.sidebar {
  flex-shrink: 0;
}
        
.song_side {
  flex: 1;
  overflow-y: auto;
}
