/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  /* Nền đen toàn app */
  .main-background {
    background-color: black;
    min-height: 100vh;
  }
  
  /* Layout tổng thể */
  .main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Phần giữa: sidebar + content */
  .main-content {
    display: flex;
    flex: 1;
    margin-top: 20px;    /* Header height */
    margin-bottom: 0px; /* Footer height */
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  /* Sidebar trái */

  
  /* Vùng hiển thị nội dung chính (section hoặc profile) */
  .page-content, .song_side {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    color: white;
  }
  
  /* Header cố định trên cùng */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: black;
    border-bottom: 1px solid #222;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
  }
  


  