.Recent_LnU {
  margin-top: 20px;
}

.Recent_LnU h1 {
  font-size: 48px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
  text-align: center; /* Căng giữa tiêu đề */
}

.Recent_LnU h2 {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.Recent_LnU-tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Căn đều các thẻ */
  gap: 20px; /* Khoảng cách giữa các thẻ */
}

.track_LnU {
  width: 250px; /* Làm cho thẻ Track to hơn */
  text-align: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  flex-grow: 1; /* Đảm bảo các thẻ có thể mở rộng đều */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track_LnU:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.track_LnU-image {
  width: 100%;
  height: 250px; /* Tăng kích thước hình ảnh */
  background-color: #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

.track_LnU-info span {
  display: block;
  font-size: 16px; /* Tăng kích thước chữ */
  color: #333;
  margin-top: 5px;
}

.track_LnU-info span:first-child {
  font-weight: bold;
}
