.song_side {
    position: absolute;
    left: 80px; /* tránh sidebar */
    top: 80px;
    right: 10px;
    height: 80vh;
    border-radius: 8px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
    background-color: #000;
    padding-right: 10px;
}

.song_side::-webkit-scrollbar {
    width: 6px;
}

.song_side::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.song_side h1, .song_side h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.song-list {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding: 10px;
}

.song-item {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: left;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.song-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.song-item .title {
    font-size: 18px;
    font-weight: bold;
}

.song-item .artist {
    font-size: 14px;
    color: #ccc;
}

.song-item:hover {
    opacity: 0.85;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
