
.sidebar {
    position: fixed;
    width: 60px;
    height: 77vh;
    background-color: #121212;
    color: white;
    padding: 20px;
    left: 10px;
    top: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-YL, .btn-NN {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.btn-YL img, .btn-NN img {
    width: 30px;
    height: auto;
    filter: brightness(0) invert(1);
}
