
.sidebar {
    position: fixed;
    width: 25px;
    height: 77vh;
    background-color: #121212;
    color: white;
    padding: 20px;
    left: 10px;
    top: 80px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-YL, .btn-NN {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

.btn-YL img, .btn-NN img {
    width: 30px;
    height: auto;
    filter: brightness(0) invert(1);
}
.btn-CrePlaylist{
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px 0;
  }
  .btn-CrePlaylist img {
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    /* box-shadow: none;
    filter: none; */
  
    background: #121212; /*Xóa nền */
    padding: 0; /* Đảm bảo không có vùng padding gây màu nền */
  }