<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Danh s치ch ng퀋敲렬 d칯ng</title>
</head>

<body>
    <h1>游늶 Danh s치ch Users</h1>

    <% if (users.length===0) { %>
        <p>Kh칪ng c칩 ng퀋敲렬 d칯ng n맖.</p>
        <% } else { %>
            <table border="1" cellpadding="8" cellspacing="0">
                <thead>
                    <tr>
                        <% for (let key in users[0]) { %>
                            <th>
                                <%= key %>
                            </th>
                            <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <tr>
                            <% for (let key in user) { %>
                                <td>
                                    <%= user[key] %>
                                </td>
                                <% } %>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } %>
</body>

</html>