<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
    </div>
    <div class="form-container">
        <form class="user-form" action="/update-user/<%= user.UserID %>" method="POST">
            <fieldset>
                <legend>Update User</legend>

                <label for="username">Username</label>
                <input type="text" id="username" name="username" value="<%= user.Username %>" required />

                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="<%= user.Email %>"  required />

                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="<%= user.Password %>" required />

                <button type="submit">Update User</button>
            </fieldset>
        </form>
    </div>

</body>

</html>